@tailwind base;
@tailwind components;
@tailwind utilities;

.loading-dots-animation {
    display:inline-block;
    clip-path: inset(0 1ch 0 0);
    animation: l 1.2s steps(4) infinite;
}

@keyframes l {
    to {
        clip-path: inset(0 -1ch 0 0)
    }
}

.preloader {
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.9);

    opacity: 1;
    visibility: visible;
    transition: opacity 0.55, visibility 0.55;
}

.preloader img {
    margin-bottom: 64px;
}

.preloader.off {
    opacity: 0;
    visibility: hidden;
}

.preloader__bar {
    width: 500px;
    height: 8px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 2px;
    border: solid 1px #FFF;
    border-radius: 5px;
    background-color: transparent;
    overflow: hidden;

    transition: transform 0.55;
}

.preloader.off .preloader__bar {
    transform: translateY(30px);
}

.preloader__bar-inner {
    width: 0%;
    height: 100%;
    background-color: #FFF;

    transition: width 0.35s;
}
@media (min-width: 768px) {
    .footer_shadow {
        right: auto;
        left: -125px;
    }
}
.footer_shadow {
    width: 250px;
    height: 250px;
    position: absolute;
    right: -125px;
    bottom: -125px;
    border-radius: 50%;
    background: rgb(175, 100, 238);
    mix-blend-mode: hard-light;
    opacity: 0.4;
    filter: blur(70.6396px);
    transform: matrix(-0.86, -0.49, 0.51, -0.87, 0, 0);
    z-index: 0;
}

.github-corner:hover .octo-arm {
    animation:octocat-wave 560ms ease-in-out
}
@keyframes octocat-wave{
    0 %,100%{
        transform:rotate(0)
    }
    20%,60%{
        transform:rotate(-25deg)
    }
    40%,80%{
        transform:rotate(10deg)
    }
}
@media (max-width:500px){
    .github-corner:hover .octo-arm{
        animation:none
    }
    .github-corner .octo-arm{
        animation:octocat-wave 560ms ease-in-out
    }
}

